
main .buttons {
    float: right;
}

.menu, main {
    display: flex;
    float: left;
    min-height: 90vh;
}

.menu {
    width: 25%;
    background-color: #FBF4DA;
}

main {
    width: 75%;
    display: block;
}
.data {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
}

.data img {
    width: 150px;
    margin: 40px 0;
}

table {
    width: 60%;
    padding: 0 20px;
}

th {
    display: flex;
    float: left;
    color: #4D4029;
}

th.input {
    float: right;
}

input {
    background-color: #e9e9e9;
    border: 1px solid #4D4029;
    border-radius: 5px;
    height: 25px;
}

th p {
    font-size: 13pt;
}

.book_name {
    width: 15%;
}

.book_name {
    width: 35%;
    padding: 0 20px;
}

.amount {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.order {
    display: flex;
    justify-content: flex-end;
    width: 22%;
    float: right;
}

span {
    padding: 0 20px 50px;
}

select #type {
    display: flex;
    border: 1px solid #4D4029;
}

