.menu, .content {
    display: flex;
    float: left;
    min-height: 100vh;
}

.menu {
    width: 25%;
    background-color: #FBF4DA;
}

.content {
    width: 75%;
    justify-content: center;
}

.content p {
    font-size: 26pt;
}