
main .buttons {
    float: right;
}

.menu, main {
    display: flex;
    float: left;
    min-height: 90vh;
}

.menu {
    width: 25%;
    background-color: #FBF4DA;
}

main {
    width: 75%;
    display: block;
}
.data {
    height: 85%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 30px;
    flex: 1 0 auto;
}

table {
    width: 100%;
    padding: 0 20px;
}

th {
    display: flex;
    float: left;
}

th p {
    font-size: 13pt;
}

td {
    color: #4D4029;
    font-size: 18px;
    padding: 5px;
}

.border-bottom {
    border-bottom: 1px solid #4D4029;
}

.border-br {
    border-right: 1px solid #4D4029;
    border-bottom: 1px solid #4D4029;
}

td b {
    color: #4D4029;
}


